body{
font-size: 25px; }
img{
width: auto;
height: 70px;
}
div img{
width: 250px;
height: 225px;
border-radius:90%;
}
.NombreJ{
border: 3px;
border-style: solid;
margin-bottom: 30px;
padding: 10px;
border-radius: 9px}